/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 5, 2015, 8:28:57 PM
    Author     : saeful rizky
*/

body{
    text-align: center;
    background: white;
}

.registrasi{
    height: 440px;
    width: 300px;
    text-align: center;
    margin: 25px auto;
}

